html {
  background: #4EA5F2;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}


body {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #4EA5F2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4EA5F2, #3783C6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4EA5F2, #3783C6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4EA5F2, #3783C6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4EA5F2, #3783C6);
}

.container {
top: 25vh;
left: 25vw;
position: fixed;
}

.block {
width: 50vw;
height: 50vh;  
text-align: center;
vertical-align: middle;
line-height: 50vh;
font-size: 10vh;
/*border: 1px red solid;*/
}

.menu-dot {
  background: #fff;
  width: .8em;
  height: .8em;
border-radius: 50%;
margin: 2em 0 0 2em;
opacity: .5;
}

.menu-dot:hover {
  opacity: 1;
  box-shadow: 0 .1em 0 0 rgba(31,65,95,0.20);
  transition: all 0.2s ease-in-out .2s;
}


