:root { 
  --bg-color: #fcfcfc; 

}

body {
    background: var(--bg-color);
}


.header { grid-area: header; }
.footer { grid-area: footer; }
.main { grid-area: main; }
.left { grid-area: left; }
.right { grid-area: right;
  min-height: 100vh;
overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 100px 
                        1fr
                        100px;
    min-height: 100vh;
}

   

.blue-details {
-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: translateX(-50px) rotate(-15deg) translateY(80px);
}

.baby-blue {
  background-color: #63F0FE;
  height: 50px;
  width: 200%;
}

.deep-sky-blue {
  background-color: #00C2F3;
  height: 50px;
  width: 200%;
  margin-top: 10px; 
}



@media screen and (max-width: 600px) {
    .hg {
        grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            50px 
                            1fr
                            50px 
                            30px;
    }
}